<div class="form-row">
    <div class="form-item">
        <label id="title-input-field-label">Title</label>
        <input id="title-input-field" type="text" name="title" value="<%= book.title %>"> 
    </div>
    <div class="form-item">
        <label id="author-dropdown-label">Author</label>
        <select id="author-dropdown" name="author">
        <% authors.forEach(author => { %>
            <% if(author.id === book.author) { %> 
                <option selected label="<%= author.name %>" value="<%= author.id %>">
                <% } else { %>
                <option label="<%= author.name %>" value="<%= author.id %>">
                <% } %> 
        <% }) %> 
        </select>
    </div>
</div>

<div class="form-row">
    <div class="form-item">
    <label id="publish-date-field-label">Publish Date</label>
    <input id="publish-date-field" type="date" name="publishDate"
                value="<%= book.publishDate == null ? '' : book.publishDate.toISOString().split('T')[0] %>"> 
</div>

 <div class="form-item">
    <label id="page-count-field-label">Page Count</label>
    <input id="page-count-field" type="number" name="pageCount" min="1" value="<%= book.pageCount %>"> 
    </div>
</div>

<div class="form-row">
    <div class="form-item form-item-no-grow">
        <label id="cover-image-field-label">Cover</label>
        <input id="cover-image-field" type="file" name="cover" class="book-cover filepond"> 
    </div>  
    <div class="form-item">
        <label id="description-field-label">Description</label>
        <textarea id="description-field" type="file" name="description"><%= book.description %></textarea>
    </div>
</div>
